<h3>Windrunner Shop</h3>
<p>
  Hello Long. We just received an email from a mysterious person. Please keep it secret for him/her.
</p>
<p>
  <% @name_array.each do |n| %>
  <h1><%= n %></h1>
  <% end %>
</p>