<!--
######################################################
# LongPH - Oct 22nd, 2011
#    create file
######################################################
-->
<h3>People Who Bought <%= @product.name %></h3>
<ul>
  <% for order in @orders -%>
    <li>
      <%= mail_to order.email, order.name %>
    </li>
  <% end -%>
</ul>
